# Created by .ignore support plugin (hsz.mobi)
.idea/.name
.idea/inspectionProfiles/
.idea/workspace.xml
target/generated-test-sources/
target/test-classes/Events$clearButtonEvent.class
target/test-classes/Events$runButtonEvent.class
src/Resource/images.png
